<!DOCTYPE html>
<html>
<head>
    <title>Edit Task</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="main">
    <h2>Edit Task</h2>

    <form method="post">
        <input
            name="title"
            value="{{ task[2] }}"
            placeholder="Task title"
            required
        >

        <input
            type="date"
            name="deadline"
            value="{{ task[3] }}"
            required
        >

        <br><br>
        <button>Update Task</button>
        <a href="/dashboard" style="margin-left:10px; color:white;">Cancel</a>
    </form>
</div>

</body>
</html>
